@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}
/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/* UTILITY PERSONNAL STYLES */
/* dev mode : to quickly detect an element */
.my-border-red {
  border: red 1px solid;
}
.my-border-grey {
  border: rgb(202, 202, 202) 1px solid;
}
.my-border-green {
    border: rgb(0, 255, 10) 1px solid;

}
/* use for Link who wrap images in swiper js - prevent small images which doesn't fit its container */
/* "display: contents" tell a children to display as its parent */
.my-display-contents {
  display: contents;
}

/* a clip path for home hero image */
.mask-clip {
  clip-path: polygon(37.5% 20%, 62.5% 20%, 62.5% 80%, 37.5% 80%);
  /* transform: rotate(30deg); */
}
.mask-clip img {
  position: relative;
  transform: scale(2);
}

/* SWIPER STYLES */

/* .swiper {
  width: 100%;
  height: 100%;
} */

/* .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  Center slide text vertically
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 80%;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
} */
