.parallaxContainer {
  /* height: 5vh; */
  /* height is defined in ParallaxSeparatorImage.tsx, good results with 300px */
  overflow: hidden;
  position: relative;
  /* border: 1px red solid; */
}

.parallaxImage {
  border: solid blue 1px;
  background-size: cover;
  background-position: center;
  /* width: 100%; */
  /* height: 100%; */
  /* arbitrary value - image seem to be verticaly centered if top is -75% */
  position: absolute;
  /* top: 0; */
  /* top: -15%; */
  /* arbitrary value - image seem to be verticaly centered if height is 200% */
  /* left: 100; */
  /* transition: transform 1s ease-out;  */

  transition: transform 0.1s cubic-bezier(0.39,
      0.575,
      0.565,
      1);
  /* Ajustez la durée de transition selon vos préférences */
}
